.Modalidades {
    width: 100%;
    padding: 20px 5%;
    margin-top: 5%;
}

.Modalidades_Content {
    position: relative;
    width: 100%;
    background-color: #0B0B2D;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

.Modalidades_Content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/img/banner_slices.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}

.Modalidades_Content>* {
    position: relative;
    z-index: 2;
}

.Modalidades_Content--Texto {
    width: 100%;
    text-align: center;
}

.Modalidades_Content--Texto h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.Modalidades_Content--Texto p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #ffffff8f;
    font-weight: 300;
}

.Modalidades_Content--Inscripcion {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.Modalidades_Content--Inscripcion_Card {
    width: 100%;
    height: auto;
    background-color: #ffffff11;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}

.Modalidades_Content--Inscripcion_Card .icono {
    font-size: 50px;
    margin: 0 40%;
    color: #ffffff6d;
}

.Modalidades_Content--Inscripcion_Card div {
    text-align: center;
}

.Modalidades_Content--Inscripcion_Card h3 {
    font-size: 27px;
    color: #ffffffba;
    text-align: center;
}

.Modalidades_Content--Inscripcion_Card p {
    font-size: 20px;
    color: #ffffff6d;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
}

.Modalidades_Content--Inscripcion_Card h4 {
    font-size: 27px;
    color: #ffffffba;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
}

.Modalidades_Content--Inscripcion_Card a {
    text-decoration: none;
    font-size: 27px;
    color: #0B0B2D;
    text-align: center;
    background-color: #7FE9FF;
    padding: 5px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.Modalidades_Content--Inscripcion_Card a:hover {
    background-color: #ffffff;
}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {
    .Modalidades_Content--Inscripcion {
        width: 100%;
        display: block;
    }

    .Modalidades_Content--Inscripcion_Card {
        margin-bottom: 20px;
    }

}